@import url("https://fonts.googleapis.com/css2?family=Cinzel&family=Roboto:wght@100;300;400;500&display=swap");

:root {
  --primary: #072ac8;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #f2f4fc;
  color: #292e47;
}
.container {
  width: 80%;
  margin: auto;
}
.section-title {
  color: #292e47;
  text-align: left;
  font-size: 40px;
  margin-bottom: 2rem;
}

/* ------------------------------------------------------------------------ */
/* ------------------------------ INDEX html ------------------------------ */
/* ------------------------------------------------------------------------ */

/* ------------------------------ Splash page ------------------------------ */

/* Your CSS code goes here */

/* ------ CIRCULAR ANIMATION ------ */

/* Your CSS code goes here */

/* HEADER */
header {
  padding: 16px 0;
}
/* ------------------------------ Navbar ------------------------------ */

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #f2f4fc;
  padding: 10px;
}

.logo img {
  height: 20px;
}

.menu,
.contact {
  display: none;
}

.menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.menu ul li {
  margin-right: 15px;
  font-weight: 500;
}

.menu ul li a {
  text-decoration: none;
  color: #7c829a;
}

/* ------------------------------ HERO ------------------------------ */

#hero {
  margin-top: 5rem;
}
#hero .hero-text {
  text-align: center;
}
#hero .hero-text h1 {
  font-size: 2rem;
  color: #292e47;
}
#hero .hero-text p {
  margin-top: 2rem;
  margin-bottom: 2.5rem;
  color: #6b708d;
  line-height: 1.5;
}
#hero .hero-container-button {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#hero .hero-container-button .contact-btn {
  display: inline-block;
  padding: 16px 20px;
  background-color: #072ac8;
  color: #fff;
  text-decoration: none;
  font-weight: 500;
  margin-bottom: 2rem;
}
#hero .hero-container-button .contact-btn:hover {
  background-color: #292e47;
}
#hero .hero-container-button .work-btn {
  text-decoration: none;
  font-weight: 500;
  color: #6c718b;
}
#hero .hero-pictures {
  margin-top: 3rem;
  text-align: center;
}
#hero .hero-pictures img {
  width: 80%;
}

#hero .hero-pictures img:not(:first-child) {
  display: none;
}

/* ------------------------------ Partners ------------------------------ */
#partners {
  margin: 3.5rem 0;
}
#partners .partners-logos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
}
#partners .partners-logos a {
  width: 40%;
  display: block;
  padding: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#partners .partners-logos a:not(:nth-of-type(-n + 4)) {
  display: none;
}

#partners .partners-logos a:nth-of-type(-n + 4) img {
  width: 70%;
}

/* ------------------------------ Recent projects ------------------------------ */
#projects {
  padding: 2.5rem 0;
}
#projects .js-projects .project {
  background-color: #fff;
  margin: 40px 10px;
}
#projects .js-projects .project img {
  width: 100%;
}
#projects .js-projects .project .text-project {
  padding: 1.5rem;
}
#projects .js-projects .project .text-project p {
  margin: 1.5rem 0;
  color: #292e47;
  font-weight: 300;
}
#projects .js-projects .project .text-project h3 {
  color: #292e47;
}

#projects .js-projects .project .text-project a {
  text-decoration: none;
  font-weight: 500;
  color: #072ac8;
}

/* ------------------------------ Client reviews ------------------------------ */

#clients {
  padding: 1.5rem 0;
  background-color: #292e47;
  background-image: url("../images/testimonial-section/orbit.png");
  background-size: cover;
  background-repeat: no-repeat;
}

#clients .container {
  width: 95%;
}

#clients h2 {
  text-align: center;
  color: #fff;
  font-size: 32px;
}

#clients p {
  margin: 2.5rem 0;
  text-align: center;
  color: gold;
  font-size: 28px;
  font-weight: 300;
}
#clients .profile {
  width: 60%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
#clients .profile img {
  width: 60px;
  height: 60px;
  border-radius: 100%;
  margin-right: 8px;
}
#clients .profile h4 {
  color: #7cc2ff;
  font-weight: 400;
}
#clients .profile span {
  color: #fff;
  font-weight: 300;
  font-size: 14px;
}
#clients .emojis{
  display: none;
}

/* ------------------------------ Services ------------------------------ */

#services .service {
  background-color: #fff;
  margin: 40px;
  padding: 30px;
}

#services .section-title {
  margin-top: 7rem;
  margin-bottom: 6rem;
}

#services .service .img-container {
  border-radius: 50%;
  background-color: #ecf6ff;
  padding: 20px;
  margin-left: 5px;
  margin-bottom: 20px;
  width: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
}

#services .service h3 {
  font-size: 1.3rem;
  font-weight: bold;
}

#services .service p {
  margin: 30px 0;
  font-size: 1rem;
  font-weight: 300;
}

#services .service a {
  text-decoration: none;
  font-weight: 500;
}

/* ------------------------------ Questions form ------------------------------ */

#questions {
  background-color: #ffc600;
}

#questions .questions-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#questions .questions-container h3 {
  font-size: 1.7rem;
  text-align: center;
  margin-top: 30px;
}

#questions .questions-container p {
  font-size: 1rem;
  color: #6c718b;
  margin-top: 20px;
  margin-bottom: 40px;
}

#questions .questions-container input {
  background-image: url("../images/newsletter/icon/mail.svg");
  background-repeat: no-repeat;
  background-position-y: center;
  background-position-x: 5px;
  padding-left: 40px;
  height: 4.2rem;
  font-weight: 400;
  font-size: 1.1rem;
  border: 0;
  margin-bottom: 25px;
}

#questions .questions-container a {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  background-color: #072ac8;
  font-weight: 500;
  font-size: 1rem;
  color: #fff;
  
  height: 4.2rem;
  margin-bottom: 30px;
}

/* ------------------------------ Footer ------------------------------ */

footer {
  display: block;
  text-align: center;
  margin-top: 7rem;
  margin-bottom: 7rem;
}

.footer-address-logo {
  margin-bottom: 20px;
}

.footer-address-logo img {
  width: 6rem;
}

.footer-address-text {
  font-weight: 300;
  font-size: 17px;
  margin-bottom: 20px;
}

.footer-links {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-row-gap: 20px;
  grid-column-gap: 20px;

}

.footer-links a {
  text-decoration: none;
  font-weight: 500;
  color: #072ac8;
}

/* -------------------------------------------------------------------------- */
/* ------------------------------ PROJECT html ------------------------------ */
/* -------------------------------------------------------------------------- */

/* ------------------------------ Project main ------------------------------ */

/* Your CSS code goes here */

/* ----------------------------------------------------------------------------- */
/* ------------------------------ CONTACT-US html ------------------------------ */
/* ----------------------------------------------------------------------------- */

/* ------------------------------ Form ------------------------------ */

/* Your CSS code goes here */

/* ----------------------------------------------------------------------------- */
/* ------------------------------ About html ------------------------------ */
/* ----------------------------------------------------------------------------- */

/* Your CSS code goes here */

/* --------------------------------------------------------------------------- */
/* ------------------------------ MEDIA QUERIES ------------------------------ */
/* --------------------------------------------------------------------------- */



/* ------------------------- More than 767px (Tablet) ------------------------- */
@media (min-width: 767px) {
  /* Your CSS code goes here */
  .container{
    width: 88%;
  }
  #hero .hero-text h1 {
    font-size: 3.9rem;
  }
  #hero .hero-text p{
    font-size: 1.3rem;
  }
  #hero .hero-container-button{
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 1.05rem;
  }
  #hero .hero-container-button .contact-btn{
    margin-bottom: 0;
    margin-right: 16px;
  }
  #hero .hero-pictures{
    position: relative;
    padding-bottom: 5rem;
  }
  #hero .hero-pictures img{
    display: block!important;
    margin: auto;
  }
  #hero .hero-pictures img:nth-child(2){
    width: 250px;
    position: absolute;
    top: 0;
  }
  #hero .hero-pictures img:last-child{
    position: absolute;
    bottom: 0;
    width: 250px;
    right: -5%;
  }
  #partners .partners-logos{
    align-items: center;
  }
  #partners .partners-logos a:nth-of-type(-n + 6) {
    display: block;
  }
  #partners .partners-logos a{
    width: 31%;
    text-align: center;
  }
  #projects .js-projects{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  #projects .js-projects .project{
    width: 47%;
    margin: 24px 0px;
  }
  #projects .js-projects .project .text-project h3{
    font-size: 1.3rem;
  }
  #projects .js-projects .project .text-project p{
    font-size: 1.1rem;
  }
  #clients {
    position: relative;
  }
  #clients p{
    width: 60%;
    margin: 90px auto;
  }
  #clients .emojis{
    display: block;
  }
  #clients .emojis img{
    position: absolute;
    width: 100px;
  }
  #clients .emojis img:first-child{
    top: 0;
    left: 0;
  }
  #clients .emojis img:nth-child(2){
    top: 0;
    right: 0;
  }
  #clients .emojis img:nth-child(3){
    bottom: 0;
    left: 0;
  }
  #clients .emojis img:last-child{
    bottom: 0;
    right: 0;
  }
  #services{
    padding-bottom: 7rem;
  }
  #services .service p{
    font-size: 1.1rem;
  }
  #services .services-container{
    display: flex;
    justify-content: space-between;
  }
  #services .services-container .service{
    width: 31%;
    margin: 0;
  }
  #questions {
    padding-bottom: 5rem;
  }
  #questions .questions-container h3{
    font-size: 2.5rem;
    margin-top: 5rem;
  }
  #questions .input-container{
    display: flex;
    width: 100%;
    justify-content: center;
  }
  #questions .input-container input{
    width: 80%;
  }
  #questions .input-container .contact-btn{
    width: 120px;
    margin-left: 16px;
  }
  footer .container{
    display: flex;
    justify-content: space-between;
  }
}


/* ------------------------- More than 1023px (Desktop) ------------------------- */
@media (min-width: 1024px) {
  /* Your CSS code goes here */
  header{
    padding: 52px 0;
  }
  .menu, .contact{
    display: block;
  }
  .menu ul li a {
  font-size: 1.05rem;
  margin: 0 12px;
  }
  .contact .contact-btn{
    background-color: #072ac8;
    color: white;
    font-weight: 500;
    font-size: 1.05rem;
    padding: 16px;
    text-decoration: none;
  }
  #hero .hero-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  #hero .hero-text{
    width: 40%;
    text-align: left;
  }
  #hero .hero-pictures{
    width: 55%;
  }
  #hero .hero-container-button .contact-btn{
    order: 2;
    margin-left: 16px;
  }
}

/* ------------------------------ Hamburger menu ------------------------------ */

/* Your CSS code goes here */

/* ------------------------------ Alert ------------------------------ */

/* Your CSS code goes here */

/* ------------------------------ Sticky scroll bar ------------------------------ */

/* Your CSS code goes here */
