@import url("https://fonts.googleapis.com/css2?family=Cinzel&family=Roboto:wght@100;300;400;500&display=swap");

:root {
  --primary: #072ac8;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #f2f4fc;
  color: #292e47;
}
.container {
  width: 80%;
  margin: auto;
}
.section-title {
  color: #292e47;
  text-align: left;
  font-size: 40px;
  margin-bottom: 2rem;
}

/* ------------------------------------------------------------------------ */
/* ------------------------------ INDEX html ------------------------------ */
/* ------------------------------------------------------------------------ */

/* ------------------------------ Splash page ------------------------------ */

/* ------ CIRCULAR ANIMATION ------ */

/* Your CSS code goes here */

/* HEADER */
header {
  padding: 16px 0;
}
/* ------------------------------ Navbar ------------------------------ */

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #f2f4fc;
  padding: 10px;
}


.logo img {
  height: 20px;
}

.menu{
  height: 0px;
  overflow: hidden;
  position: absolute;
    width: 100%;
    top: 60px;
    left: 0;
    background: #c9c8c9;
    transition: all .3s ease;
}
.contact {
  display: none;
}
nav .icon-container{
  position: relative;
}

nav .icon-container i{
  font-size: 28px;
  color: #6c718b;
  transition: all .3s ease;
}
nav .icon-container #btnHambur{
  position: absolute;
  z-index: 99;
}
nav .icon-container #btnCross{
  opacity: 0;
  position: relative;
}

.menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.menu ul li {
  margin-right: 15px;
  font-weight: 500;
  padding: 16px 0;
  width: 100%;
    text-align: center;
    border-bottom: 1px solid #fff;
}

.menu ul li a {
  text-decoration: none;
  color: #7c829a;
}



/* ------------------------------ HERO ------------------------------ */

#hero {
  margin-top: 5rem;
}
#hero .hero-text {
  text-align: center;
}
#hero .hero-text h1 {
  font-size: 2rem;
  color: #292e47;
}
#hero .hero-text p {
  margin-top: 2rem;
  margin-bottom: 2.5rem;
  color: #6b708d;
  line-height: 1.5;
}
#hero .hero-container-button {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#hero .hero-container-button .contact-btn {
  display: inline-block;
  padding: 16px 20px;
  background-color: #072ac8;
  color: #fff;
  text-decoration: none;
  font-weight: 500;
  margin-bottom: 2rem;
}
#hero .hero-container-button .contact-btn:hover {
  background-color: #292e47;
}
#hero .hero-container-button .work-btn {
  text-decoration: none;
  font-weight: 500;
  color: #6c718b;
}
#hero .hero-pictures {
  margin-top: 3rem;
  text-align: center;
}
#hero .hero-pictures img {
  width: 80%;
}

#hero .hero-pictures img:not(:first-child) {
  display: none;
}

/* ------------------------------ Partners ------------------------------ */
#partners {
  margin: 3.5rem 0;
}
#carrousel{
  display: none!important;
}
.owl-item img {
  filter: grayscale(100%);
  transition: filter 0.3s ease;
  position: absolute;
  top: 50%;
  bottom: 50%;
  transform: translate(-50%, -50%);
  margin-top: 70px;
}

.owl-item img:hover {
  filter: none;
}

.owl-carousel .partners-logos .owl-loaded .owl-drag{
  position: relative;
}

.owl-carousel .owl-stage::after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 150px;
}

#partners .partners-logos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
}
#partners .partners-logos a {
  width: 40%;
  display: block;
  padding: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#partners .partners-logos a:not(:nth-of-type(-n + 4)) {
  display: none;
}

#partners .partners-logos a:nth-of-type(-n + 4) img {
  width: 70%;
}

/* ------------------------------ Recent projects ------------------------------ */
#projects {
  padding: 2.5rem 0;
}
#projects .js-projects .project {
  background-color: #fff;
  margin: 40px 10px;
}
#projects .js-projects .project img {
  width: 100%;
}
#projects .js-projects .project .text-project {
  padding: 1.5rem;
}
#projects .js-projects .project .text-project p {
  margin: 1.5rem 0;
  color: #292e47;
  font-weight: 300;
}
#projects .js-projects .project .text-project h3 {
  color: #292e47;
}

#projects .js-projects .project .text-project a {
  text-decoration: none;
  font-weight: 500;
  color: #072ac8;
}

/* ------------------------------ Client reviews ------------------------------ */

#clients {
  padding: 1.5rem 0;
  background-color: #292e47;
  background-image: url("../images/testimonial-section/orbit.png");
  background-size: cover;
  background-repeat: no-repeat;
}

#clients .container {
  width: 95%;
}

#clients h2 {
  text-align: center;
  color: #fff;
  font-size: 32px;
}

#clients p {
  margin: 2.5rem 0;
  text-align: center;
  color: gold;
  font-size: 28px;
  font-weight: 300;
}
#clients .profile {
  width: 60%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
#clients .profile img {
  width: 60px;
  height: 60px;
  border-radius: 100%;
  margin-right: 8px;
}
#clients .profile h4 {
  color: #7cc2ff;
  font-weight: 400;
}
#clients .profile span {
  color: #fff;
  font-weight: 300;
  font-size: 14px;
}
#clients .emojis {
  display: none;
}

/* ------------------------------ Services ------------------------------ */

#services .service {
  background-color: #fff;
  margin: 40px;
  padding: 30px;
}

#services .section-title {
  margin-top: 7rem;
  margin-bottom: 6rem;
}

#services .service .img-container {
  border-radius: 50%;
  background-color: #ecf6ff;
  padding: 20px;
  margin-left: 5px;
  margin-bottom: 20px;
  width: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
}

#services .service h3 {
  font-size: 1.3rem;
  font-weight: bold;
}

#services .service p {
  margin: 30px 0;
  font-size: 1rem;
  font-weight: 300;
}

#services .service a {
  text-decoration: none;
  font-weight: 500;
}

/* ------------------------------ Questions form ------------------------------ */

#questions {
  background-color: #ffc600;
}

#questions .questions-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#questions .questions-container h3 {
  font-size: 1.7rem;
  text-align: center;
  margin-top: 30px;
}

#questions .questions-container p {
  font-size: 1rem;
  color: #6c718b;
  margin-top: 20px;
  margin-bottom: 40px;
}

#questions .questions-container input {
  background-image: url("../images/newsletter/icon/mail.svg");
  background-repeat: no-repeat;
  background-position-y: center;
  background-position-x: 5px;
  padding-left: 40px;
  height: 4.2rem;
  font-weight: 400;
  font-size: 1.1rem;
  border: 0;
  margin-bottom: 25px;
}

#questions .questions-container a {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  background-color: #072ac8;
  font-weight: 500;
  font-size: 1rem;
  color: #fff;

  height: 4.2rem;
  margin-bottom: 30px;
}

/* ------------------------------ Footer ------------------------------ */

footer {
  display: block;
  text-align: center;
  margin-top: 7rem;
  margin-bottom: 7rem;
}

.footer-address-logo {
  margin-bottom: 20px;
}

.footer-address-logo img {
  width: 6rem;
}

.footer-address-text {
  font-weight: 300;
  font-size: 17px;
  margin-bottom: 20px;
}

.footer-links {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-row-gap: 20px;
  grid-column-gap: 20px;
}

.footer-links a {
  text-decoration: none;
  font-weight: 500;
  color: #072ac8;
}

/* -------------------------------------------------------------------------- */
/* ------------------------------ PROJECT html ------------------------------ */
/* -------------------------------------------------------------------------- */

/* ------------------------------ Project main ------------------------------ */

.container-main-project {
  width: 93%;
  margin: auto;
}

.main-project .title {
  font-size: 1.5rem;
  color: #292e47;
  margin-top: 20px;
}

.main-project .title-footer {
  display: flex;
  color: #6c718b;
  justify-content: space-between;
  margin-top: 20px;
  margin-bottom: 40px;
}

.main-project .title-footer h2 {
  font-size: 1rem;
  font-weight: 400;
}

.main-project .title-footer h3 {
  font-weight: 400;
  font-size: 1rem;
  text-align: center;
}

.main-project .image-project img {
  width: 100%;
  height: 444px;
}

.main-project .text-project {
  display: flex;
  flex-direction: column;
  margin-top: 3rem;
  margin-bottom: 5rem;
}

.main-project .text-project p {
  color: #292e47;
  font-weight: 400;
  font-size: 20px;
}

.main-project .text-project > :nth-child(2) {
  margin-top: 10px;
}

/* ----------------------------------------------------------------------------- */
/* ------------------------------ CONTACT-US html ------------------------------ */
/* ----------------------------------------------------------------------------- */

/* ------------------------------ Form ------------------------------ */

#contact .container {
  width: 90%;
  margin: auto;
}
.contact-container h1 {
  font-size: 2rem;
  color: #292e47;
  margin-top: 5rem;
  margin-bottom: 4rem;
}

.contact-container .contact-form form {
  display: flex;
  flex-direction: column;
}

.contact-container .contact-form label {
  font-size: 1.2rem;
  font-weight: 400;
  color: #6b708d;
  margin-bottom: 10px;
}

.contact-container .contact-form form input,
textarea {
  border: 0;
  background-color: rgba(107, 112, 141, 0.1);
  height: 70px;
  font-weight: 400;
  font-size: 1.1rem;
  padding-left: 15px;
  margin-bottom: 24px;
}

.contact-container .contact-form form textarea {
  padding-top: 10px;
  height: 200px;
}

.contact-container .contact-form form button {
  border: 0;
  background-color: #072ac8;
  font-weight: 500;
  font-size: 1.05rem;
  color: #fff;
  padding: 1.5rem;
  text-decoration: none;
}

/* ----------------------------------------------------------------------------- */
/* ------------------------------ About html ------------------------------ */
/* ----------------------------------------------------------------------------- */
#about-us .container h1 {
  text-align: center;
  font-weight: 600;
  font-size: 2rem;
  color: #292e47;
  margin-top: 40px;
  margin-bottom: 30px;
}
.about-persons-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 60px;
}

.about-person {
  position: relative;
  width: 50%;
  margin: 20px;
}

.about-person h2 {
  position: absolute;
  width: 100%;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
  padding: 10px;
}

.about-person img {
  display: block;
  width: 100%;
  height: auto;
  margin-top: 20px;
}

.videos-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 30px 0;
}

.videos-container .video-description {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.video-description {
  margin-top: 20px;
  margin-bottom: 20px;
}

.video-description > * {
  margin-top: 5px;
  margin-bottom: 5px;
}

.video-description .video-artist {
  font-weight: 600;
  font-size: 1.3rem;
  color: #292e47;
}

.video-description p {
  font-weight: 300;
  color: #292e47;
}

.video-frame iframe {
  width: 100%;
}

.podcast-frame {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
}

.podcast-frame iframe {
  width: 100%;
}

/* --------------------------------------------------------------------------- */
/* ------------------------------ MEDIA QUERIES ------------------------------ */
/* --------------------------------------------------------------------------- */

/* ------------------------- Greater than 767px (Tablet) ------------------------- */
@media (min-width: 767px) {
  .container {
    width: 88%;
  }
  #hero .hero-text h1 {
    font-size: 3.9rem;
  }
  #hero .hero-text p {
    font-size: 1.3rem;
  }
  #hero .hero-container-button {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 1.05rem;
  }
  #hero .hero-container-button .contact-btn {
    margin-bottom: 0;
    margin-right: 16px;
  }
  #hero .hero-pictures {
    position: relative;
    padding-bottom: 5rem;
  }
  #hero .hero-pictures img {
    display: block !important;
    margin: auto;
  }
  #hero .hero-pictures img:nth-child(2) {
    width: 250px;
    position: absolute;
    top: 0;
  }
  #hero .hero-pictures img:last-child {
    position: absolute;
    bottom: 0;
    width: 250px;
    right: -5%;
  }
  #partners .partners-logos {
    align-items: center;
  }
  #partners .partners-logos a:nth-of-type(-n + 6) {
    display: block;
  }
  #partners .partners-logos a {
    width: 31%;
    text-align: center;
  }
  #projects .js-projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  #projects .js-projects .project {
    width: 47%;
    margin: 24px 0px;
  }
  #projects .js-projects .project .text-project h3 {
    font-size: 1.3rem;
  }
  #projects .js-projects .project .text-project p {
    font-size: 1.1rem;
  }
  #clients {
    position: relative;
  }
  #clients p {
    width: 60%;
    margin: 90px auto;
  }
  #clients .emojis {
    display: block;
  }
  #clients .emojis img {
    position: absolute;
    width: 100px;
  }
  #clients .emojis img:first-child {
    top: 0;
    left: 0;
  }
  #clients .emojis img:nth-child(2) {
    top: 0;
    right: 0;
  }
  #clients .emojis img:nth-child(3) {
    bottom: 0;
    left: 0;
  }
  #clients .emojis img:last-child {
    bottom: 0;
    right: 0;
  }
  #services {
    padding-bottom: 7rem;
  }
  #services .service p {
    font-size: 1.1rem;
  }
  #services .services-container {
    display: flex;
    justify-content: space-between;
  }
  #services .services-container .service {
    width: 31%;
    margin: 0;
  }
  #questions {
    padding-bottom: 5rem;
  }
  #questions .questions-container h3 {
    font-size: 2.5rem;
    margin-top: 5rem;
  }
  #questions .input-container {
    display: flex;
    width: 100%;
    justify-content: center;
  }
  #questions .input-container input {
    width: 80%;
  }
  #questions .input-container .contact-btn {
    width: 120px;
    margin-left: 16px;
  }

  #favorite-songs .video-frame iframe {
    width: 30rem;
  }

  #podcast .podcast-frame iframe {
    width: 30rem;
  }

  footer .container {
    display: flex;
    justify-content: space-between;
  }
}

/* ------------------------- Greater than 1023px (Desktop) ------------------------- */
@media (min-width: 1024px) {
  header {
    padding: 52px 0;
  }
.icon-container{
    display: none;
  }
  .menu{
    height: auto;
    background-color: transparent;
    position: static;
    width: auto;
  }
  .contact {
    display: block;
  }
  .menu ul{
    flex-direction: row;
    justify-content: center;
  }
  .menu ul li{
    width: auto;
    border: 0;
  }
  .menu ul li a {
    font-size: 1.05rem;
    margin: 0 12px;
  }
  #partners .partners-logos a {
    width: 100%;
    align-items: center;
  }
  #logosMobile{
    display: none!important;
  }
  #carrousel{
    display: block!important;
  }
  .contact .contact-btn {
    background-color: #072ac8;
    color: white;
    font-weight: 500;
    font-size: 1.05rem;
    padding: 16px;
    text-decoration: none;
  }
  #hero .hero-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  #hero .hero-text {
    width: 40%;
    text-align: left;
  }
  #hero .hero-pictures {
    width: 55%;
  }
  #hero .hero-container-button .contact-btn {
    order: 2;
    margin-left: 16px;
  }

  #contact .container {
    width: 70%;
    margin: auto;
  }

  #contact .contact-container h1 {
    font-size: 4rem;
    color: #292e47;
    margin-top: 5rem;
    margin-bottom: 4rem;
  }

  #about-us .about-persons-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  #about-us .about-person {
    width: 30%;
  }

  #favorite-songs .container .title-about,  #podcast .container .title-about{
   margin-left: 160px;
   margin-top: 70px;
   margin-bottom: 40px;
  }

  #favorite-songs .video-frame iframe {
    width: 35rem;
  }

  #podcast .podcast-frame iframe {
    width: 35rem;
  }
}

/* ------------------------------ Hamburger menu ------------------------------ */

/* Your CSS code goes here */

/* ------------------------------ Alert ------------------------------ */

/* Your CSS code goes here */

/* ------------------------------ Sticky scroll bar ------------------------------ */

/* Your CSS code goes here */
